
/*######################################################################
#   ConsoleMessage
#####################################################################*/

#__KEY__Tip > DIV.__KEY__Tip {
    opacity: 0.9 !important;
    font-family: Monaco, monospace;
    font-size: 11px;
}

DIV.logRow-__KEY__ConsoleMessage:hover {
    background-color: #F0E68C;
}
DIV.logRow-__KEY__ConsoleMessage.selected {
    background-color: #FFA07A !important;
}

DIV.__KEY__ConsoleMessage > SPAN.label {
    margin-right: 5px;
}


/*######################################################################
#   ConsoleOpenMessageGroup
#####################################################################*/

DIV.logRow-__KEY__ConsoleOpenMessageGroup {
  background: url(__RESOURCE__images/MessageGroupBackground.png) repeat-x #FFFFFF;
}

SPAN.__KEY__ConsoleOpenMessageGroup {
  color: #445777;
}


/*######################################################################
#   VariableViewer
#####################################################################*/

DIV.__KEY__VariableViewer {
    padding: 2px 4px 1px 6px;
    font-family: Monaco, monospace;
    font-size: 11px;    
}

